@import '../../css/colors.scss', '../../css/position.scss';

.defaultButton {
  height: 32px;
  width: 120px;
  cursor: pointer;
  background: $tertiary;
  color: #fff;
  border: none;

  &.active {
    border: 1px solid grey;
    background: #fff;
    color: $primary;
  }
}
